@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,400;1,500&display=swap');
#bot-bacheca, #bot-classi, #bot-note, #bot-studenti, #bot-voti{
    height: 2.5em;
}
.bot{
    justify-content: center;
    width: 100%;
    text-align: left; 
    border: 0px;
    height: 7em;
    line-height: 100%;
    border-bottom: #990c18 2px solid;
    background-color: #e7e7e7;
    margin-top: 1em;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Archivo Black';
    font-size: 1.8em;
    justify-content: center;
    color:#990c18;
    text-shadow: 0px 1px #cc1020, 0px -1px #cc1020, 1px 0px #cc1020, -1px 0px #cc1020;
}
.bot:hover{
    background-color: #d1d1d1;
}

img{
    width: 1em;
    border-left: 0px;
    margin-left: 0px;
}